// https://coolors.co/fffae4-343330-bacdb0-729b79-475b63
// https://coolors.co/05668d-427aa1-ebf2fa-679436-a5be00
$bgColor: #ebf2fa;
$b1Color: #05668d;
$b2Color: #427aa1;
$g1Color: #679436;
$g2Color: #a5be00;

$textColor: #343330;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: 0.2s;
}

#app {
  background: $bgColor;
  color: $textColor;
  font-size: medium;
  font-family: "メイリオ", "ヒラギノ角ゴ Pro W3", "ＭＳ Ｐゴシック", sans-serif;
  min-height: 100vh;

  display: flex;
  flex-direction: column;

  .container {
    width: 100vw;
    max-width: 800px;
    height: 100%;
    margin: 0 auto;
    background-color: $bgColor;
    display: flex;
    align-items: center;
    justify-content: center;

    .line {
      margin: 5px 0;
    }

    .word {
      border-bottom: 1px dotted $textColor;
      margin: 0 1px;
      cursor: default;
    }

    .word:hover:not(.highlight) {
      border-bottom: 1px solid $textColor;
    }

    .highlight {
      border: 2px dashed $b1Color;
    }

    ul {
      list-style-position: inside;
      list-style-type: decimal;
    }

    .lineBlock {
      display: block;
      width: 100%;
      border: 2px solid $b1Color;
      background-color: $bgColor;
    }

    .dictContainer {
      display: flex;
      flex-direction: row;
      color: $textColor;
    }

    .dictContent {
      flex-grow: 1;
      padding-left: 5px;
    }

    .dictPagingBtn {
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      border: none;
      background-color: $b2Color;
      color: $bgColor;
      padding: 0 10px;
    }

    .dictPaging {
      background-color: $bgColor;
      display: inline-block;
    }

    .arrow-up {
      width: 0;
      height: 0;
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;

      border-bottom: 5px solid $b1Color;
      position: relative;
    }
  }

  .lyrics-form {
    label {
      display: inline-block;
      width: 90px;
      text-align: right;
      vertical-align: top;
    }

    input {
      width: 250px;
      padding: 3px 0;
    }

    textarea {
      width: 350px;
      height: 500px;
    }

    .input-field {
      margin-bottom: 0.5em;
    }

    .button {
      margin-left: 90px;

      button {
        padding: 5px 30px;
      }
    }
  }
}

.sidebar {
  background-color: $b2Color;
  color: $bgColor;

  .header {
    background-color: $b1Color;
  }

  .nav-link {
    cursor: pointer;
  }

  .nav-link:hover {
    background-color: $b1Color;
  }
}

.white-icon {
  color: $bgColor;
}

.form-expand {
  height: 300px;
  overflow-y: scroll;
  border-top: 3px solid $b2Color;
  border-bottom: 3px solid $b2Color;
}

.search-result {
  padding: 5px 0;
}

.search-result:nth-child(even) {
  background-color: #fff;
}

.content {
  flex: 1;
}

.front-page-panel {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-result-panel {
  width: 100vw;
  max-width: 1024px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
form,
fieldset {
  border: 0;
}

.frontpage-form {
  width: 100%;
  max-width: 1024px;
  fieldset {
    display: flex;

    input {
      flex: 1;
      height: 35px;
      font-size: 18px;
    }
  }
}

.lyrics-view-panel {
  width: 100%;
}

.pbutton {
  font-size: 15px;
  border: none;
  padding: 3px 7px;
  cursor: pointer;
}

.pbutton-primary {
  background-color: $b1Color;
  color: $bgColor;
}

.pbutton-success {
  background-color: $g1Color;
  color: $bgColor;
}

.pform {
  label {
    display: block;
    min-width: 55px;
    font-size: 13pt;
  }

  input,
  textarea {
    font-size: 12pt;
    width: 90vw;
    max-width: 850px;
    padding: 5px;
    margin-right: 5px;
    border: 0;
  }

  .form-row {
    margin: 5px 0;
  }
}

label.pinput {
  display: inline-block;
  padding: 0.2em 0.3em;
  margin: 0.2em;
  cursor: pointer;
  color: $bgColor;
  background: $g2Color;
  font-weight: bold;

  transition: 0.3s;
  user-select: none;
}

input:checked + label.pinput {
  background-color: $g1Color;
  color: $bgColor;
}

.result-item:nth-child(odd) {
  background-color: $bgColor;
}

.result-item {
  background-color: #fff;
  cursor: pointer;
}

.lyrics-info {
  margin-left: 3px;
}

rt {
  font-size: 12px;
}

rb {
  font-size: 16px;
}

input[type="text"] {
  border: none;
}

.hidden {
  display: none;
}

.flex {
  display: flex;
}

.center-flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-fill {
  flex: 1;
}

.opacity-0{
  opacity: 0;
}
